@media (max-width: 900px) {
  .logo-container {
    display: none !important;
  }
}

:host {
  width: 80%;
}
.container {
  margin-bottom: 60px;
}
.second-container {
  width: 100%;
}
.logo {
  color: orange;
  background-size: contain;
}

.startBtn {
  width: 20vh;
  padding: 2px;
}

.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 50vh;
}

.subdescription {
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 40vh;
}

.topicon {
  margin-right: 1em;
}

.logo-container {
  min-width: 50%;
}
