<div fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">
  <div
    class="logo-container"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex.lg="50"
    fxFlex.md="50"
  >
    <svg width="200" height="200" viewBox="0 0 100 100" class="logo"></svg>

    <div fxLayout="row" fxLayoutAlign="center center">
      <ux-typography
        class="description"
        variant="subtitle"
        text="Cryptographic password manager"
      ></ux-typography>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.xs="row"
    fxLayoutAlign="center center"
    fxFlex.lg="50"
    fxFlex.md="50"
    class="second-container"
  >
    <div fxFlexFill>
      <ng-content></ng-content>
    </div>
  </div>
</div>
