<ux-layout-content
  class="main-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <desktop-logo-wrapper>
    <div>
    <form class="form-container" fxLayout="column" fxLayoutAlign="center">
      <mat-form-field
        class="form-field"
        fxFlex.lg="60"
        fxFlex.md="60"
        fxFlex.sm="60"
        fxFlex.xs="90"
        fxLayoutAlign="center"
      >
        <mat-label>Site URL</mat-label>
        <input name="site" autofocus matInput (ngModelChange)="change({siteUrl: $event})" [ngModelOptions]="{standalone: true}" [(ngModel)]="siteUrl" placeholder="Passphrase is required" />
        <mat-error>
          Site must be at least 3 characters long
        </mat-error>
      </mat-form-field>
    <!-- </form>
    <form class="form-container" fxLayoutAlign="center"> -->
      <mat-form-field
        class="form-field"
        fxFlex.lg="60"
        fxFlex.md="60"
        fxFlex.sm="60"
        fxFlex.xs="90"
        fxLayoutAlign="center"
      >
        <mat-label>Username</mat-label>
        <input autofocus matInput name="username"
        (ngModelChange)="change({ username: $event })"
        [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />
        <mat-error>
          Username is required and must be at least 3 letters long
        </mat-error>
      </mat-form-field>
      <div
      class="form-field"
      fxFlex.lg="60"
      fxFlex.md="60"
      fxFlex.sm="60"
      fxFlex.xs="90"
      fxLayoutAlign="center"
    >
      <mat-label>Password</mat-label>
      <ux-typography [text]="password" fxFlex fxLayoutAlign="center center"></ux-typography>
    </div>
    </form>
  </div>
  </desktop-logo-wrapper>
</ux-layout-content>
