<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar label="Create profile">
      <ng-template uxTopbarLeftComponent>
        <!-- <svg width="30" height="30" class="logo"></svg> -->
      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content>
    <ux-creator
    (finished)="onFinished($event)"
    ></ux-creator>
  </ux-layout-content>
</ux-simple-layout>
