<ux-simple-layout>
  <ux-layout-top>
    <ux-topbar>
      <ng-template uxTopbarRightComponent>
        <div fxFlexFill class="topicon">
          <ux-button styleType="raised" label="Check out on Gitlab"></ux-button>
        </div>
      </ng-template>
    </ux-topbar>
  </ux-layout-top>
  <ux-layout-content class="main-container" fxLayoutAlign="center center">
    <div
      fxLayoutAlign="center center"
      fxLayout="row"
      fxLayout.xs="column"
      class="second-container"
    >
      <div
        class="logo-container"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex.lg="50"
        fxFlex.md="50"
      >
        <svg width="200" height="200" viewBox="0 0 100 100" class="logo"></svg>

        <div fxLayout="row" fxLayoutAlign="center center">
          <ux-typography
            class="description"
            variant="subtitle"
            text="Cryptographic password manager"
          ></ux-typography>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex.lg="50" class="logo-container">
        <div fxFlexFill>
          <div fxLayout="row" fxLayoutAlign="center center">
            <ux-button
              class="startBtn"
              label="Get started"
              styleType="raised"
              routerLink="/create-wallet"
            ></ux-button>
            <!-- <ux-input-field label="Please, create join password" type="password"></ux-input-field> -->
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <ux-typography
              class="subdescription"
              variant="caption"
              text="Secure, cryptography-based deterministic password manager"
            ></ux-typography>
          </div>
        </div>
      </div>
      </div>
      <!-- END_NG_CONTENT -->
    <!-- END WRAPPER -->
  </ux-layout-content>
</ux-simple-layout>
