:host {
  width: 80%;
}
.container {
  margin-bottom: 60px;
}

.logo {
  color: orange;
  background-size: contain;
}

.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}


.startBtn {
  width: 20vh;
  padding: 2px;
}

.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 50vh;
}

.subdescription {
  margin-top: 4vh;
  margin-bottom: 2vh;
  width: 40vh;
}

.topicon {
  margin-right: 1em;
}

.margin {
  margin-bottom: 60px;
}
.second-container {
  width: 80%;
  margin-bottom: 60px;
}
.logo-container {
  width: 50%;
}
