@media screen and (max-width: 900px) {

}
:host {
  width: 100%;
  overflow: hidden;
}
.link-scroll::-webkit-scrollbar {
  display: none;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}

.condition {
  margin-top: 5em;
}
.form-container {
  width: 100%;
  height: 100%;
  place-content: center;
  align-items: center;
  flex-direction: row;
}
input {
  line-height: 2;
  font-size: 1.3em;
  background-color: transparent;
  color: white;
}
:focus {
  background-color: transparent;
}

.logo-container {
  width: 100%;
  height: 100%;
}
.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 50vh;
}
.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}
.margin-bottom {
  margin-bottom: 2em;
}
.margin-top {
 margin-top: 2em;
}
