<ux-layout-content class="main-container" fxLayoutAlign="center center">
  <desktop-logo-wrapper>
    <div fxLayout="column">
      <div
        class="margin-bottom"
        fxLayout="row"
        fxLayoutAlign="center"
        fxFlex="70"
        class="margin-bottom"
      >
        <ux-typography
          variant="heading"
          text="Download your encrypted seed file"
        ></ux-typography>
      </div>
      <div fxLayoutAlign="center center" fxLayout="row" class="qr-code">
        <qrcode [qrdata]="passwordsService.encryptedSeed" [size]="256" [level]="'M'"></qrcode>
      </div>
      <div fxLayoutAlign="center" class="pin-code-container" fxLayout="row">
        <ux-button label="Download" styleType="raised"></ux-button>
      </div>
      <div
        class="margin-top"
        fxLayout="row"
        fxLayoutAlign="center"
        class="margin-top"
      >
        <ux-typography
          fxFlex="70"
          variant="caption"
          text="You can import all your passwords into other devices/browsers"
        ></ux-typography>
      </div>
    </div>
  </desktop-logo-wrapper>
</ux-layout-content>
