/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

main::-webkit-scrollbar {
  width: 0.5em;
}
main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(121, 118, 118, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(68, 64, 64, 0.3);
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  background: linear-gradient(
    132deg,
    rgba(95, 98, 125, 1) 0%,
    rgba(49, 51, 71, 1) 100%
  );
}
:ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}
