@media screen and (max-width: 900px) {
  .checkbox-container {
    margin-bottom: 1em !important;
  }
}
:host {
  width: 100%;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100%;
}
.link-scroll::-webkit-scrollbar {
  display: none;
}
.form-field {
  min-width: 50%;
}

.container {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}
.pin-code {
  font-weight: 400;
  color: #ff7043;
  font-size: 3em;
  letter-spacing: 1px;
}
.pin-code-container {
  margin-top: 5em;
}

input {
  width: 100%;
  line-height: 2;
  font-size: 1.3em;
  background-color: transparent;
  color: white;
}
:focus {
  background-color: transparent;
}

.main-container {
  position: relative;
  overflow: hidden;
}
.checkbox-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 2em;
}
.checkbox {
  width: 100%;
  display: flex;
}
.checkbox-text {
  line-height: 1.5em;
  margin: 0;
  width: 100%;
}
.form-container {
  width: 100%;
  overflow: hidden;
}

.description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 50vh;
}
.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
}
.checkbox-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
  color: #8f919f;
  font-size: 0.9em;

  padding-left: 10px;
  padding-right: 10px;
}
// rather than center the checkbox, put the checkbox in the first line
::ng-deep .mat-checkbox-inner-container {
  margin-left: 0;
}
