<ux-layout-content
  class="main-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <desktop-logo-wrapper>
    <div>
    <form class="form-container" fxLayout="column" fxLayoutAlign="center">
      <mat-form-field
        class="form-field"
        fxFlex.lg="60"
        fxFlex.md="60"
        fxFlex.sm="60"
        fxFlex.xs="90"
        fxLayoutAlign="center"
      >
        <mat-label>Passphrase</mat-label>
        <input name="passphrase" autofocus matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="passphrase" placeholder="Passphrase is required" />
        <mat-error>
          Passphrase is required
        </mat-error>
      </mat-form-field>
    <!-- </form>
    <form class="form-container" fxLayoutAlign="center"> -->
      <mat-form-field
        class="form-field"
        fxFlex.lg="60"
        fxFlex.md="60"
        fxFlex.sm="60"
        fxFlex.xs="90"
        fxLayoutAlign="center"
      >
        <mat-label>Retype passphrase</mat-label>
        <input autofocus matInput name="retypePassphrase"
        [(ngModel)]="retypePassphrase" [ngModelOptions]="{standalone: true}" placeholder="Passphrase is required" />
        <mat-error>
          Passphrase is required
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  </desktop-logo-wrapper>
  <div fxLayout="row" fxLayoutAlign="center center" class="checkbox-container">
    <mat-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" fxLayoutAlign="center center">
      <p class="checkbox-text">
        I understand that I'll lose all of my derived passwords if I'll forget this passphrase
      </p></mat-checkbox>
  </div>
</ux-layout-content>
